.container {
  width: 100vw;
  position: fixed;
  height: 9vh;
  top: 0;
  background: #1b2c3e;
  display: flex;
  overflow: hidden;
}
.box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.listabox {
  background: #ffffff;
  width: 100vw;
  position: absolute;
  height: 30%;
  bottom: 1px;
}
